/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */

     html {
       font-size: 16px;
     }

     body {
        font-family: 'Open Sans', sans-serif;
        font-size: .9rem;
     }

     h2,
     h3,
     h4 {
      font-family: 'Poppins', sans-serif;
     }

     a {
      color: #e2e3ed;
      text-decoration: none;
     }

     img {
       width: 100%;
     }

     /* header footer */
     header,
     footer {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-flow: column;
       background-color: #202322;
     }
  
     header {
       padding: 15px 0;
       height: 120px;
     }

     header .header-divider {
       border-bottom: 1px solid rgba(128, 128, 128, 0.349);
       height: 1px;
       width: 100%;
       margin-top: 10px;
     }
  
     header .content-wrapper {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      color: #ffffffba;
      margin-top: 0;
      text-transform: uppercase;
     }

     header .content-wrapper img {
       margin: 0;
       width: 300px;
     }

     header nav {
       width: 75%;
       display: flex;
       flex-flow: row;
       justify-content: center;
       margin: 20px 0;
     }

     header .content-wrapper a {
      color: white;
      padding: 0 5px;
      font-size: 1.4rem;
    }
  
    /* footer */
     footer .content-wrapper {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-flow: column;
       width: 55%;
       margin: 50px 0 10px 0;
     }

     footer address {
       display: flex;
       justify-content: center;
       flex-flow: column;
     }

     footer address p,
     footer address a {
       margin: 0;
     }

     footer .footer-contact {
       display: flex;
       align-items: center;
       flex-flow: column;
     }

     footer .social {
      margin: 30px 0;
      display: flex;
      align-items: center;
      flex-flow: column;
     }

     footer .social-content {
      display: flex;
      flex-flow: row;
    }

    .social-icons {
      padding: 0 20px;
    }

     /* main */
     section,
     aside {
       padding: 50px 0;
     }

     aside {
      background-color: #527158;
      padding: 50px 20px;
      color: white;
     }

     .content-wrapper {
       color: white;
       margin: 0 20px;
     }

     /* images */
     .hero-area,
     .features,
     .reviews .imgs {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      min-height: 400px;
     }

     .hero-area {
      background-image: url('../img/jake-melara-30679-unsplash.jpg');
     }

     .features {
      background-image: url('../img/rawpixel-800820-unsplash1.jpg');
     }

     .reviews .imgs {
       background-image: url('../img/omar-lopez-296944-unsplash.jpg');
       min-height: 300px;
     }

     /* features */
     .features .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }

    .features .features-items {
      width: 60%;
      display: flex;
      flex-flow: column;
    }

    .features article p {
      font-size: .9rem;
    }

     /* reviews */
     .reviews {
      background-color: #2a423a;
      flex-flow: column;
      min-height: 300px;
      display: flex;
      padding-bottom: 100px;
    }

     /* form */
    input[type=text] {
      box-sizing: border-box;
      width: 100%;
      color: #2a423a;
      font-style: italic;
      padding: 1em;
    }
     
    input[type=button] {
      width: 100%;
      padding: 20px 0;
      margin-top: 20px;
      background-color: #2a423a;
      font-family: 'Poppins', Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 1.125em;
      color: #e2e3ed;
      border: none;
      text-align: center;
      text-transform: uppercase;
    }

  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  /***** TABLET *****/
  @media only screen and (min-width: 768px) {
    /* header */
    header {
      padding: 0 60px;
      border-bottom: 1px solid grey;
    }

    header .content-wrapper {
      display: flex;
      justify-content: space-between;
      flex-flow: row;
      width: 100%;
    }

    header .header-divider {
      display: none;
    }

    header nav {
      display: flex;
      flex-flow: row;
      width: fit-content;
      float: right;
    }

    header nav a {
      padding: 0 15px;
    }

    /* footer */
    footer address {
      display: flex;
      width: 490px;
      justify-content: space-between;
      flex-flow: row;
    }

    footer .contact {
      width: 45%;
      margin: 0;
      display: flex;
      align-items: center;
      flex-flow: column
    }

    footer .social {
      width: 45%;
      margin: 0;
      display: flex;
      align-items: center;
      flex-flow: column
    }

    footer .social-content {
      display: flex;
      flex-flow: row wrap;
    }

    footer .social-content div {
      padding: 20px;
    }

    footer .copyright {
      display: flex;
      justify-content: center;
    }

    /* main */
    .hero-area,
    aside,
    .features,
    .reviews {
      padding: 50px 60px;
    }

    /* hero area */
    .hero-area h1 {
      font-size: 3em;
    }

    /* form */
    aside {
      display: flex;
      flex-flow: row;
      font-size: 1.1rem;

    }

    aside .form-description  {
      width: 50%;
      padding: 0 20px;
    }

    aside .form {
      width: 50%;
      padding: 0 20px;
    }

    aside .form form {
      display: flex;
      flex-flow: column;
    }

    /* features */
    .features .features-items {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }

    .features article {
      width: 50%;
      padding: 0 70px;
      box-sizing: border-box;
    }

    /* reviews */
    .reviews .content-wrapper {
      display: flex;
      flex-flow: column;
    }

    .reviews article {
      width: 100%;
      display: flex;
      flex-flow: row;
    }

    .reviews .imgs {
      width: 50%;
      min-height: 100px;
    }

    .reviews .reviews-content {
      width: 50%;
      margin-left: 10px;
    }

    .reviews .reviews-content h2 {
      margin: 0;
      font-weight: 100;
      font-size: 1.5rem;
    }

  }

  /***** DESKTOP *****/
  @media only screen and (min-width: 1200px) {
    /* header */
    header .content-wrapper {
      width: 75%;
    }

    header .content-wrapper h1 {
      font-size: 2.5rem;
      font-weight: 300;
    }

    header .content-wrapper nav a {
      padding: 0 30px;
    }

  /* footer */
    footer .content-wrapper {
      font-size: 1.2rem;
    }

    footer address {
      width: 100%;
    }

    footer .footer-contact h3 {
      font-size: 1.5rem;
    }

    footer .footer-contact p,
    footer .footer-contact a {
      font-size: .9rem;
    }
  
    /* main */
    .hero-area,
    aside,
    .features,
    .reviews {
      padding: 50px 120px;
    }

    /* sign up */
    aside .form-description {
      padding: 0 100px;
    }

    aside .form {
      padding: 0 100px;
    }

    /* features */
    .features article {
      width: 33%;
      padding: 0 40px;
    }

    .features article p {
      font-size: 1.1rem;
    }

    /* reviews */
    .reviews {
      min-height: 550px;
      font-size: 1.2rem;
    }

    .reviews h1 {
      margin: 30px 0;
    }

    .reviews article {
      padding: 50px 0;
    }

    .reviews .imgs {
      min-height: 350px;
    }

    .reviews .reviews-content {
      display: flex;
      align-items: center;
      flex-flow: column;
    }

    .reviews .reviews-content h2,
    .reviews .reviews-content p {
      display: flex;
      flex-flow: column;
      width: 80%;
    }
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }