/*
  ==========
  About Page
  ==========
*/


/* mission */
.mission {
  background-color: #527158;
}

/* map */
.map {
  display: none;
}

/* contact */
.contact {
  background-color: #2a423a;
}

.contact address {
  font-size: .9rem;
}

.contact address div {
  margin: 40px 0;
}

.contact address h2 {
  font-weight: 100;
}

.contact address p {
  line-height: 2px;
  font-size: .8rem;
}


/***** TABLET *****/
@media only screen and (min-width: 768px) {
  /* main */
  .mission,
  .contact {
    display: flex;
    justify-content: center;
  }

 .content-wrapper {
    width: 80%;
  }

  .content-wrapper h1 {
    font-size: 2.1rem;
  }

  /* mission */
  .mission-content {
    display: flex;
    justify-content: space-between;
  }

  .mission-content p {
    width: 45%;
  }

  /* contact */
  .contact {
    width: 100%;
  }

  .contact h1 {
    margin: 0;
  }

  .contact address {
    display: flex;
    flex-flow: row;
  }

  .contact address div {
    width: 50%;
    display: flex;    
    flex-flow: column;
  }

  .contact address div p {
    margin: 0;
    line-height: normal;
    font-size: medium;
  }
}

/***** DESKTOP *****/
@media only screen and (min-width: 1200px) {
  /* contact */
  .content-wrapper h1 {
    font-size: 3rem;
  }

  p {
    font-size: medium;
  }
}