/*
  ==========
  About Page
  ==========
*/

/* features */
.features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.features-items article {
width: 60%;
}

/***** TABLET *****/
@media only screen and (min-width: 768px) {
  /* mission */
  .mission-content {
    display: flex;
    justify-content: space-between;
  }

  .mission-content p {
    width: 45%;
  }

  /* contact */
  .contact {
    width: 100%;
  }

  .contact h1 {
    margin: 0;
  }

  .contact .content-wrapper {
    width: 100%;
  }

  .contact address {
    display: flex;
    flex-flow: row;
  }

  .contact address div {
    width: 50%;
    display: flex;    
    flex-flow: column;
    align-items: center; 
  }

  .contact address div p {
    margin: 0;
  }
}

/***** DESKTOP *****/
@media only screen and (min-width: 1200px) {
  /* contact */
  .contact address div {
    display: block;
  }
}